{% load static %}
{% load cart_template_tags %}
<!DOCTYPE html>
<html class="no-js" lang="fr">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{{site_info.site_title}}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="{{site_info.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta property="og:locale" content="fr-fr" />
    <meta property="og:title" content="{{site_info.site_title}}" />
    <meta property="og:site_name" content="{{site_info.site_name}}" />
    <meta property="og:description" content="{{site_info.description}}"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{site_info.site_url}}" />
    <meta property="og:image" content="{{site_info.site_logo.url}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{site_info.site_title}}" />
    <meta name="twitter:description" content="{{site_info.description}}" />
    <meta name="twitter:site" content="@{{site_info.site_name}}" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{site_info.favicon.url}}" />
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css'%}" />
    <!-- Gabomazone Design System -->
    <link rel="stylesheet" href="{% static 'gabomazone-client/css/flavoriz-design.css'%}?v=28.1" />
    <link rel="stylesheet" href="{% static 'gabomazone-client/css/flavoriz-force.css'%}?v=27.3" />
    <link rel="stylesheet" href="{% static 'gabomazone-client/css/gabomazone-ux.css'%}?v=8.9" />
    <!-- Extracted inline styles (consolidated) -->
    <link rel="stylesheet" href="{% static 'gabomazone-client/css/gm-extracted.css'%}?v=3.0" />
    <!-- Component styles -->
    <link rel="stylesheet" href="{% static 'gabomazone-client/css/layout.css'%}?v=2.3" />
    <link rel="stylesheet" href="{% static 'gabomazone-client/css/alerts.css'%}?v=1.0" />
    <link rel="stylesheet" href="{% static 'gabomazone-client/css/modals.css'%}?v=1.0" />
    <link rel="stylesheet" href="{% static 'gabomazone-client/css/pages/purchase-intent.css'%}?v=3.0" />
    {% endblock head %}
    {% block headextra %}{% endblock headextra %}
</head>

<body{% if user.is_authenticated %} data-gm-authenticated="1"{% endif %} data-gm-login-url="{% url 'accounts:login' %}">

    {% include "components/header.html" %}

    {% include "components/alerts.html" %}

    {% include "components/purchase_intent_modal.html" %}
    <script>
        window.GM_C2C_PURCHASE_INTENT_URL_TEMPLATE = "{% url 'c2c:create-purchase-intent' 0 %}";
    </script>
    <script src="{% static 'gabomazone-client/js/purchase-intent-modal.js' %}?v=1.2"></script>

    {% block body %}
    {% endblock body %}

    <script>
    (function () {
        if (typeof window.proposeOfferToSeller === 'function') return;
        window.proposeOfferToSeller = function (productId, productSlug, productPrice) {
            if (document.body.getAttribute('data-gm-authenticated') !== '1') {
                var login = document.body.getAttribute('data-gm-login-url');
                if (login) {
                    window.location.href =
                        login +
                        (login.indexOf('?') >= 0 ? '&' : '?') +
                        'next=' +
                        encodeURIComponent(window.location.pathname + window.location.search);
                }
                return;
            }
            if (typeof window.openPurchaseIntentModal === 'function') {
                window.openPurchaseIntentModal(productId);
            }
        };
    })();
    </script>

    {% include "components/footer.html" %}

    {% include "components/bottom_nav.html" %}

    {% include "components/preloader.html" %}

    {% block script %}
    <!-- Gabomazone UI scripts -->
    <script src="{% static 'gabomazone-client/js/smart-header.js' %}?v=8.0"></script>
    <script src="{% static 'gabomazone-client/js/custom-dropdown.js' %}?v=5.0"></script>
    <script src="{% static 'gabomazone-client/js/mobile-search-expand.js' %}?v=5.1"></script>
    <script src="{% static 'gabomazone-client/js/desktop-search-expand.js' %}?v=7.0"></script>
    <script src="{% static 'gabomazone-client/js/account-dropdown-fix.js' %}?v=8.1"></script>
    <!-- Vendor JS -->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/plugins/slick.js'%}"></script>
    <script src="{% static 'assets/js/plugins/jquery.syotimer.min.js'%}"></script>
    <script src="{% static 'assets/js/plugins/waypoints.js'%}"></script>
    <script src="{% static 'assets/js/plugins/wow.js'%}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.js'%}"></script>
    <script src="{% static 'assets/js/plugins/magnific-popup.js'%}"></script>
    <script src="{% static 'assets/js/plugins/select2.min.js'%}"></script>
    <script src="{% static 'assets/js/plugins/counterup.js'%}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js'%}"></script>
    <script src="{% static 'assets/js/plugins/images-loaded.js'%}"></script>
    <script src="{% static 'assets/js/plugins/isotope.js'%}"></script>
    <script src="{% static 'assets/js/plugins/scrollup.js'%}"></script>
    <script src="{% static 'assets/js/plugins/jquery.vticker-min.js'%}"></script>
    <script src="{% static 'assets/js/plugins/jquery.theia.sticky.js'%}"></script>
    <script src="{% static 'assets/js/plugins/jquery.elevatezoom.js'%}"></script>
    <!-- Template JS -->
    <script src="{% static 'assets/js/main.js'%}"></script>
    <script src="{% static 'assets/js/shop.js'%}"></script>
    <!-- Product interaction (favorites, cart) -->
    <script src="{% static 'assets/js/filter.js'%}?v=3.1"></script>
    {% endblock script %}

    <!-- Component JS -->
    <script src="{% static 'gabomazone-client/js/alerts.js'%}?v=1.0"></script>
    <script src="{% static 'gabomazone-client/js/modals.js'%}?v=1.0"></script>
    <div id="gm-modal-container"></div>

</body>
</html>
