{% load static %}
{% load cart_template_tags %}
<div class="sticky-add-cart d-lg-none">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="product-price">
                    <span class="currency-xof">{{ product.PRDPrice|format_price }} FCFA</span>
                    {% if product.PRDDiscountPrice %}
                    <span class="old-price ms-2">{{ product.PRDDiscountPrice|format_price }} FCFA</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-6">
                <form action="{% url 'orders:add-to-cart' product.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn-primary w-100">
                        <i class="fi-rs-shopping-cart me-2"></i>
                        Ajouter au panier
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

