{% extends 'base.html' %}
{% load static %}

{% block body %}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{%url 'home:index'%}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Accueil</a>
                <span></span> Mon compte <span></span> Réinitialisation
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12 m-auto">
                    {% if messages %}
                    {% for message in messages %}
      
                    <div    class="alert align-middle alert-{{message.tags}}">
                       
                        <span class="align-middle"> {{message}}</span>
                    </div>
      
                    {% endfor %}
                    {% endif %}
                    <div class="login_wrap widget-taber-content background-white">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <img class="border-radius-15" src="{% static 'assets/imgs/page/forgot_password.svg'%}" alt="" />
                                <h2 class="mb-15 mt-15">Email envoyé</h2>
                                <p class="mb-30">Si un compte existe, vous recevrez un email contenant le lien de réinitialisation.</p>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}