{% extends 'base.html' %}
{% load static %}

{% block headextra %}
<link rel="stylesheet" href="{% static 'gabomazone-client/css/pages/c2c-buyer-orders.css' %}?v=1.0">
{% endblock headextra %}

{% block body %}
<main class="c2c-orders-container">
    <h1 class="gm-s-560335">
        <i class="fi-rs-shopping-bag gm-s-a77b0c" ></i>
        Mes commandes C2C
    </h1>
    
    {% if orders %}
    {% for order in orders %}
    <div class="c2c-order-item">
        <div class="c2c-order-header">
            <div>
                <h3 class="gm-s-2ba0e3">
                    Commande #{{ order.id }} - {{ order.product.product_name }}
                </h3>
                <p class="gm-s-ba0bf1">
                    {{ order.created_at|date:"d/m/Y à H:i" }}
                </p>
            </div>
            <span class="gm-s-066019">
                {{ order.get_status_display }}
            </span>
        </div>
        <div class="gm-s-8dfeaf">
            <div>
                <p class="gm-s-1f3db5">Total payé</p>
                <p class="gm-s-9c40c6">
                    {{ order.buyer_total|floatformat:0 }} FCFA
                </p>
            </div>
            <a href="{% url 'c2c:order-detail' order.id %}" class="gm-s-cd7307">
                Voir détails
            </a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="gm-s-abddf3">
        <i class="fi-rs-shopping-bag gm-s-630a04" ></i>
        <h3 class="gm-s-3a86f4">Aucune commande</h3>
        <p class="gm-s-e71d24">Vous n'avez pas encore passé de commande C2C.</p>
    </div>
    {% endif %}
</main>
{% endblock %}



